<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-social" href="#"><Icon Name="IconName.Facebook" /></a>
            <a class="btn-social" href="#"><Icon Name="IconName.Twitter" /></a>
            <a class="btn-social" href="#"><Icon Name="IconName.Instagram" /></a>
            <a class="btn-social" href="#"><Icon Name="IconName.Youtube" /></a>
        </div>
        <p>&copy; @DateTime.Now.Year Silicon. All rights reserved.</p>
    </div>
</footer>